<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.CarouselMapper">

    <resultMap type="Carousel" id="CarouselResult">
        <result property="id"    column="id"    />
        <result property="imageFileId"    column="image_file_id"    />
        <result property="sort"    column="sort"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCarouselVo">
        select id, image_file_id, sort, del_flag, create_by, create_time, update_by, update_time from t_carousel
    </sql>

    <select id="selectCarouselList" parameterType="Carousel" resultType="CarouselListVO">
        select c.id, c.image_file_id as imageFileId, CONCAT(f.uuid,'.',f.extension) AS imageFilePath, c.sort from t_carousel c
        left join t_file f on c.image_file_id = f.id
        <where>
            <if test="imageFileId != null "> and c.image_file_id = #{imageFileId}</if>
            <if test="sort != null "> and c.sort = #{sort}</if>
            and c.del_flag = '0'
        </where>
        order by c.sort desc
    </select>

    <select id="selectCarouselById" parameterType="Long" resultMap="CarouselResult">
        <include refid="selectCarouselVo"/>
        where id = #{id}
    </select>

    <insert id="insertCarousel" parameterType="Carousel">
        insert into t_carousel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="imageFileId != null">image_file_id,</if>
            <if test="sort != null">sort,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="imageFileId != null">#{imageFileId},</if>
            <if test="sort != null">#{sort},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCarousel" parameterType="Carousel">
        update t_carousel
        <trim prefix="SET" suffixOverrides=",">
            <if test="imageFileId != null">image_file_id = #{imageFileId},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCarouselById" parameterType="Long">
        delete from t_carousel where id = #{id}
    </delete>

    <delete id="deleteCarouselByIds" parameterType="String">
        update t_carousel set del_flag = 1, update_by = #{updateBy}, update_time = NOW() where id in
        <foreach item="id" collection="idList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>